# PANDAS TUTORIAL

## Loading library

In [2]:
import pandas as pd
import sys

## Loading in Dataframes from Files

In [36]:
coffee = pd.read_csv('data/coffee.csv')
results = pd.read_parquet('data/results.parquet')
bios = pd.read_csv('data/bios.csv')

## Accessing Data with Pandas

In [44]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [51]:
# loc / iloc
coffee.loc[0:3, ['Day','Units Sold']] # loc[#Rows, #Columns]

       Day  Units Sold
0   Monday          25
1   Monday          15
2  Tuesday          30
3  Tuesday          20

In [54]:
coffee.iloc[0:3, [0,2]] # locate with index

       Day  Units Sold
0   Monday          25
1   Monday          15
2  Tuesday          30

In [55]:
coffee.loc[1, 'Units Sold'] = 10

In [58]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          10
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [62]:
coffee.at[0,'Units Sold']

25

In [66]:
coffee['Day'].head(5)

0       Monday
1       Monday
2      Tuesday
3      Tuesday
4    Wednesday
Name: Day, dtype: object

In [69]:
coffee.sort_values(['Units Sold','Coffee Type'], ascending=False)

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
4   Wednesday    Espresso          35
7    Thursday       Latte          30
2     Tuesday    Espresso          30
5   Wednesday       Latte          25
0      Monday    Espresso          25
3     Tuesday       Latte          20
1      Monday       Latte          10